$primary: #4880FF;
$white: #FFFFFF;
$menuColor: #284469; 

$danger: #F36363;
$success: #2AD577;
$progress: #FF9235;
$info: #006FFF;

$bg: #F5F6FA; 

// Fonts
$mainFont: "BGP Arial", sans-serif;
$mainFontCaps: "BGP Caps", sans-serif;
