$primary: #4880FF;
$white: #FFFFFF;

$danger: #F36363;
$success: #2AD577;
$progress: #FF9235;
$info: #006FFF;

$bg: #F5F6FA; 

// Fonts
$mainFont: "BPG Glaho", sans-serif;
$mainFontCaps: "BPG Nino Mtavruli", sans-serif;
