$primary: #4880FF;
$white: #FFFFFF;

$danger: #EF3826;
$success: #00B69B;
$progress: #6226EF;
$warning: #FFA756; 
$info: #BA29FF; 

$bg: #F5F6FA; 

// Fonts
$mainFont: "BPG Glaho", sans-serif;
$mainFontCaps: "BPG Nino Mtavruli", sans-serif;
