// Main
@import 'reset';

// Fonts
@font-face {
    font-family: 'BGP Arial';
    src: url(../fonts/bpg_arial.ttf);
}

@font-face {
    font-family: 'BGP Caps';
    src: url(../fonts/bpg_mrgvlovani_caps.ttf);
}

@import '~@fortawesome/fontawesome-free/css/all';

// Packages
@import '~bootstrap';
@import '~simplebar/dist/simplebar';
@import '~material-components-web/dist/material-components-web.css';
@import '~select2/dist/css/select2';

// Variables
@import 'variables';
@import 'media';

// Componenets
@import 'components/index';
@import 'main';
@import 'auth';
@import 'front';
@import 'modal';

* {
    font-family: $mainFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.caps {
    font-family: $mainFontCaps;
}

html, body {
    min-height: 100%;
}
