#front-header {
    position: fixed;
    width: 100%;
    z-index: 10;

    .logo {
        width: 130px;
    }

    .navbar {
        height: 80px;
        background-color: $white;
        box-shadow: 0 10px 30px rgba($menuColor, .1);

        nav {

            a.menu-item {
                color: $menuColor;
                font-size: 13px;
                text-decoration: none;
                margin-right: 25px;
                font-family: $mainFontCaps;
            }
        }
    }

    .stat {
        display: flex;
        height: 55px;
        background-color: #F2F4F8;
        box-shadow: 0 10px 20px rgba($menuColor, .1);
        justify-content: center;
        align-items: center;

        .stat-item {
            color: $menuColor;
            font-size: 15px;
            margin: 0 25px;

            span {
                font-size: 20px;
                margin-right: 7px;
                font-family: $mainFontCaps;
                -webkit-text-stroke: 1px;
            }
        }
    }
}

#front-footer {
    position: relative;
    z-index: 30;
    background-color: $white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .social {
        align-items: center;
        display: flex;

        a {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            background-color: rgba(#005AFF, .8);

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .linkdin {
            margin-right: 20px;

            &:before {
                background-image: url(../svg/linkdin.svg);
            }
        }
        
        .facebook {
            
            &:before {
                background-image: url(../svg/facebook.svg);
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        color: #A6AECE;
        font-size: 14px;
        align-items: center;
    }

    .support {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        align-items: center;
        color: #005AFF;

        span {
            transform: translateY(3px);
        }

        a {
            margin-left: 7px;
        }
    }
}

#front {
    z-index: 5;
    padding-top: 135px;
    position: relative;
    background-image: url(../images/cover.png), url(../images/front-bg.jpg);
    background-blend-mode: multiply, normal;
    background-repeat: repeat, no-repeat;
    background-size: 100% auto;
    background-position: top 30px center;
    min-height: 100vh;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(#000000, .16);

    .front-top-part {
        margin-top: 50px;
        z-index: 10;
        justify-content: center;

        .front-top-part-info {
            color: $white;

            h1 {
                font-size: 28px;
                font-family: $mainFontCaps;
                margin-bottom: 15px;

                &::before {
                    content: '';
                    display: flex;
                    width: 70px;
                    height: 10px;
                    margin-bottom: 25px;
                    background-color: #669CFF;
                }
            }

            p {
                font-size: 14px;
                overflow: hidden;
                height: 19px;
                margin-bottom: 20px;
            }

            ul {

                li {
                    display: flex;
                    font-size: 16px;
                    
                    div {
                        margin-right: 15px;
                        display: flex;
                        flex-direction: column;

                        i.circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            border: 1px solid rgba($white, .5);

                            &::before {
                                content: '';
                                width: 20px;
                                height: 20px;
                                background-color: rgba($white, .1);
                                border-radius: 50%;
                                border: 1px solid $white;
                            }
                        }
    
                        i.line {
                            flex: 1;
                            width: 1px;
                            background-color: $white;
                            margin-left: 15px;
                        }
                    }

                    span {
                        padding-bottom: 25px;
                    }
                }
            }
        }

        .front-ticket {
        }
    }

    .front-partner {
        z-index: 20;
        background-color: $white;
        margin-top: 48px;
        padding: 60px 0 50px;
        display: flex;
        box-shadow: 0 100px 99px rgba(#A6AECE, .3);

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h3 {
                font-family: $mainFontCaps;
                font-size: 25px;
                color: $menuColor;
                -webkit-text-stroke: 1px;
                margin-bottom: 30px;
            }
    
            .list {
                width: 100%;
                margin-bottom: 40px;

                div {
                    
                    .wrap {
                        background-color: #F8F9FB;
                        border-radius: 6px;
                        border: 1px solid transparent;
                        transition: all 0.2s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 55px;
                        width: 100%;

                        &:hover {
                            background-color: $white;
                            border-color: #DEE2EA;
                        }

                        img {
                            max-width: 100px;
                            max-height: 30px;
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }

            p {
                width: 70%;
                text-align: center;
                font-size: 15px;
                color: rgba($menuColor, .8);
                line-height: 30px;
                margin-bottom: 30px;
            }
        }
    }

    .front-stats {
        background-color: #F2F3F7;
        display: flex;
        justify-content: center;
        padding: 70px 0;

        .stat-item {
            display: flex;
            flex-direction: column;
            margin: 0 80px;
            color: $menuColor;
            font-size: 15px;
            max-width: 215px;
            font-family: $mainFontCaps;

            span {
                font-size: 50px;
                -webkit-text-stroke: 3px;
            }
        }
    }

    .front-solved {
        background-color: $white;
        padding: 60px 0;

        h3 {
            font-family: $mainFontCaps;
            font-size: 25px;
            color: $menuColor;
            -webkit-text-stroke: 1px;
            margin-bottom: 30px;
        }

        .item {
            position: relative;
            background-color: #F8F9FB;
            padding: 30px;
            padding-left: 100px;
            margin-bottom: 70px;

            h4 {
                font-family: $mainFontCaps;
                font-size: 18px;
                color: $menuColor;
                -webkit-text-stroke: 0.5px;
                margin-bottom: 15px;
            }

            p {
                color: rgba($menuColor, .8);
                font-size: 14px;
            }

            & > span {
                display: block;
                color: $menuColor;
                font-size: 16px;
                margin-bottom: 20px;

                strong {
                    color: #00E089;
                }
            }

            a {
                text-decoration: none;
                color: #005AFF;
            }

            .solved-more {
                display: inline-block;
                font-size: 14px;
                transition: transform .3s;

                i {
                    margin-left: 10px;
                    transform: translateY(2px);
                    transition: transform .3s;
                }
            }

            .company {
                position: absolute;
                right: 40px;
                bottom: -30px;
                border: 3px solid #00E089;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;

                figure {
                    width: 84px;
                    height: 84px;
                    border-radius: 50%;
                    background-color: #f1f3f7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    transition: all .3s;

                    img {
                        max-width: 70px;
                        max-height: 70px;
                        width: auto;
                        height: auto;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                background-color:#00E089;
                width: 20px;
                height: 100%;
                transition: width .3s;
            }
            
            &::after {
                content: '\f00c';
                font-family: $fontAwesome;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                font-weight: bold;
                width: 30px;
                height: 30px;
                left: 0;
                top: 50%;
                transform: translateY(-15px);
                opacity: 0;
                border-radius: 50%;
                background-color: #12F19A;
                position: absolute;
                transition: all .3s;
            }

            &:hover {

                &::before {
                    width: 60px;
                }
  
                &::after {
                    opacity: 1;
                    left: 15px;
                }

                .solved-more {
                    transform: translateX(15px);

                    i {
                        transform: translateY(2px) rotateZ(-45deg);
                    }
                }

                .company {
                    width: 90px;
                    height: 90px;
                    border-width: 1px;
                    right: 45px;
                    bottom: -25px;

                    figure {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }

    .front-faq {
        background-color: #F2F3F7;
        padding: 130px 0 100px;

        h3 {
            font-family: $mainFontCaps;
            font-size: 25px;
            color: $menuColor;
            -webkit-text-stroke: 1px;
            margin-bottom: 30px;
        }

        .list {
            display: flex;

            .item {
                cursor: pointer;
                background-color: #F8F9FB;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                color: $menuColor;
                box-shadow: 0 12px 24px rgba(#284469, .1);
                margin-bottom: 16px;
                transition: all .3s;
    
                .item-head {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 20px 10px;
                    align-items: center;
    
                    h4 {
                        font-size: 16px;
                        font-family: $mainFontCaps;
                        -webkit-text-stroke: .5px;
                    }

                    i {
                        transform: translateY(-4px);
                        transition: transform .2s;
                    }
                }
    
                p {
                    padding: 0 20px;
                    height: 0;
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0;
                    overflow: hidden;
                }
    
                &:not(.active):hover {
                    background-color: #005AFF;
                    color: $white;
                }
    
                &.active {
    
                    &:hover {
                        background-color: #FFFFFF;
                    }

                    .item-head {

                        i {
                            transform: translateY(-4px) rotateZ(180deg);
                        }
                    }

                    p {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}